In [1]:
import pandas as pd
import numpy as np
diabetes = pd.read_csv('diabetes.csv')
htn = pd.read_csv('htn.csv')
stroke = pd.read_csv('stroke.csv')

In [ ]:
# Links used to make changes:
# https://www.cdc.gov/bloodpressure/about.htm
# https://www.niddk.nih.gov/health-information/diabetes/overview/tests-diagnosis#:~:text=Your%20doctor%20can%20diagnose%20diabetes,type%20of%20diabetes%20you%20have.

In [2]:
diabetes.head()

,Age_Group,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
columns_drop = ['CholCheck', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'MentHlth', 'PhysHlth', 'DiffWalk', ]
columns_drop2 = ['Age', 'Chest_Pain', 'Rest_BP', 'Rest_ECG', 'Max_HeartRate', 'ExAng', 'OldPeak', 'Slope', 'CA', 'Thalassemia']
columns_drop3 = ['Age', 'Ever_Married', 'Residence_type']

In [37]:
# diabetes.drop(columns_drop, axis=1, inplace=True)
diabetes = diabetes.sort_index(axis=1)
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age_Group             70692 non-null  object
 1   Avg_Glucose_Level     0 non-null      float64
 2   BMI                   70692 non-null  float64
 3   Diabetes              70692 non-null  float64
 4   Fast_Blood_Sugar      0 non-null      float64
 5   GenHlth               70692 non-null  float64
 6   HeartDiseaseorAttack  70692 non-null  float64
 7   HighChol              70692 non-null  float64
 8   Hypertension          70692 non-null  float64
 9   PhysActivity          70692 non-null  float64
 10  Sex                   70692 non-null  float64
 11  Smoker                70692 non-null  float64
 12  Stroke                70692 non-null  float64
 13  Work_Type             0 non-null      float64
dtypes: float64(13), object(1)
memory usage: 7.6+ MB

In [36]:
diabetes.rename(columns={'HighBP': 'Hypertension'}, inplace=True)

In [33]:
diabetes['Fast_Blood_Sugar'] = np.nan
diabetes['Work_Type'] = np.nan
diabetes['Avg_Glucose_Level'] = np.nan
diabetes['Work_Type'] = np.nan
diabetes['Age_Group'] = diabetes['Age_Group'].astype(object)

In [23]:
diabetes.head()

,Age_Group,Sex,HighChol,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,GenHlth,Stroke,HighBP,Diabetes,Fast_Blood_Sugar
0,4.0,1.0,0.0,26.0,0.0,0.0,1.0,3.0,0.0,1.0,0.0,NaN
1,12.0,1.0,1.0,26.0,1.0,0.0,0.0,3.0,1.0,1.0,0.0,NaN
2,13.0,1.0,0.0,26.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN
3,11.0,1.0,1.0,28.0,1.0,0.0,1.0,3.0,0.0,1.0,0.0,NaN
4,8.0,0.0,0.0,29.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,NaN

In [38]:
# htn.drop(columns_drop2, axis=1, inplace=True)
htn = htn.sort_index(axis=1)
htn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26058 entries, 0 to 26057
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age_Group             26034 non-null  object
 1   Avg_Glucose_Level     0 non-null      float64
 2   BMI                   0 non-null      float64
 3   Diabetes              0 non-null      float64
 4   Fast_Blood_Sugar      26058 non-null  float64
 5   GenHlth               0 non-null      float64
 6   HeartDiseaseorAttack  0 non-null      float64
 7   HighChol              26058 non-null  float64
 8   Hypertension          26058 non-null  float64
 9   PhysActivity          0 non-null      float64
 10  Sex                   26058 non-null  float64
 11  Smoker                0 non-null      float64
 12  Stroke                0 non-null      float64
 13  Work_Type             0 non-null      float64
dtypes: float64(13), object(1)
memory usage: 2.8+ MB

In [31]:
#done 
htn['Work_Type'] = np.nan
htn['Smoker'] = np.nan
htn['HeartDiseaseorAttack'] = np.nan
htn['PhysActivity'] = np.nan
htn['GenHlth'] = np.nan
htn['Stroke'] = np.nan
htn['Diabetes'] = np.nan
htn['BMI'] = np.nan
htn['Avg_Glucose_Level'] = np.nan
htn['BMI'] = np.nan
htn['HighChol']=htn['HighChol'].astype(float)
htn['Fast_Blood_Sugar']=htn['Fast_Blood_Sugar'].astype(float)
htn['Hypertension']=htn['Hypertension'].astype(float)
htn['Age_Group']=htn['Age_Group'].astype(object)

In [ ]:
#done
stroke['Smoker'] = stroke['Smoker'].astype(float)
stroke['Heart_Disease'] = stroke['Heart_Disease'].astype(float)
stroke['Stroke'] = stroke['Stroke'].astype(float)
stroke['Work_Type'] = stroke['Work_Type'].astype(float)
stroke['Hypertension'] = stroke['Hypertension'].astype(float)
stroke['Fast_Blood_Sugar'] = np.nan
stroke['HighChol'] = np.nan
stroke['PhysActivity'] = np.nan
stroke['GenHlth'] = np.nan
stroke['Diabetes'] = np.nan

In [16]:
htn.rename(columns={'Chol': 'HighChol',}, inplace=True)
htn.drop('Chol', axis=1, inplace=True)

In [14]:
htn['HighChol'] = np.where(htn['Chol'] > 200, 1, 0)

In [39]:
# stroke.drop(columns_drop3, axis=1, inplace=True)
stroke = stroke.sort_index(axis=1)
stroke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40849 entries, 0 to 40848
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age_Group             40835 non-null  object
 1   Avg_Glucose_Level     40849 non-null  float64
 2   BMI                   40849 non-null  float64
 3   Diabetes              0 non-null      float64
 4   Fast_Blood_Sugar      0 non-null      float64
 5   GenHlth               0 non-null      float64
 6   HeartDiseaseorAttack  40849 non-null  float64
 7   HighChol              0 non-null      float64
 8   Hypertension          40849 non-null  float64
 9   PhysActivity          0 non-null      float64
 10  Sex                   40849 non-null  float64
 11  Smoker                40849 non-null  float64
 12  Stroke                40849 non-null  float64
 13  Work_Type             40849 non-null  float64
dtypes: float64(13), object(1)
memory usage: 4.4+ MB

In [35]:
stroke.rename(columns={'Heart_Disease': 'HeartDiseaseorAttack'}, inplace=True)

In [42]:
concatenated = pd.concat([diabetes, htn, stroke], axis=0, ignore_index=True)

In [43]:
concatenated.head()

,Age_Group,Avg_Glucose_Level,BMI,Diabetes,Fast_Blood_Sugar,GenHlth,HeartDiseaseorAttack,HighChol,Hypertension,PhysActivity,Sex,Smoker,Stroke,Work_Type
0,4.0,NaN,26.0,0.0,NaN,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN
1,12.0,NaN,26.0,0.0,NaN,3.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,NaN
2,13.0,NaN,26.0,0.0,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN
3,11.0,NaN,28.0,0.0,NaN,3.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,NaN
4,8.0,NaN,29.0,0.0,NaN,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN

In [44]:
concatenated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137599 entries, 0 to 137598
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age_Group             137561 non-null  object
 1   Avg_Glucose_Level     40849 non-null   float64
 2   BMI                   111541 non-null  float64
 3   Diabetes              70692 non-null   float64
 4   Fast_Blood_Sugar      26058 non-null   float64
 5   GenHlth               70692 non-null   float64
 6   HeartDiseaseorAttack  111541 non-null  float64
 7   HighChol              96750 non-null   float64
 8   Hypertension          137599 non-null  float64
 9   PhysActivity          70692 non-null   float64
 10  Sex                   137599 non-null  float64
 11  Smoker                111541 non-null  float64
 12  Stroke                111541 non-null  float64
 13  Work_Type             40849 non-null   float64
dtypes: float64(13), object(1)
memory usage: 14.7+ MB

In [45]:
concatenated.to_csv("concatenated.csv", index=False)